*{
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    text-align: center;
    font-size: 32px;
    
	margin: 0 auto;
}

header{
   background: #fff;
}
header h1{
   color:blue;
   font-size: 2.5rem;
}
body{
   background: lightseagreen;
   color: #fff;
}
img{
   color:#fff;
/*   background: #fff;*/
}

.scoreboard{
   font-size: 1.5rem;
   border:3px solid #fff;
   max-width: 400px;
   margin-top: 20px !important;
    margin: 0 auto;
}
.badge{
   background:skyblue;
   min-width: 50px;
}

.choice{
   padding: 0;

    display:inline-block; /* 定義 */
    width:20%;
    margin: 0 auto;

}
.choice:hover{
   cursor:pointer;
   background:#fff;
}
.result{
   height: 140px;
}
.result p{
   font-size: 1.5rem;
}

